@import "../variables";

.range-slider {
  position: relative;
  width: 100%;
  margin-bottom: 1.5em;
  margin-top: 2em;

  @media (min-width: $SM) {
    margin-top: 2.5em;
  }

  .axis {
    width: 100%;
    height: 2px;
    background-color: $color-primary;
    margin-bottom: 10px;
  }

  .axis-highlight {
    height: 2px;
    position: absolute;
    background-color: $color-secondary-alt;
    top: 0;
    pointer-events: none;
    user-select: none;
    transition: width 250ms;
  }

  .cursor {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 0;
    top: 0;
    width: 0.8em;
    height: 0.8em;
    background-color: $color-secondary-alt;
    cursor: pointer;
    border-radius: 50%;
    transition: left 250ms;
  }

  .tooltip {
    user-select: none;
    pointer-events: none;
    // background-color: #fff;
    color: #fff;
    display: inline-block;
    width: 2em;
    text-align: center;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    transform: translate(-50%, -50%);
    top: -1.5em;
    position: absolute;
    transition: left 250ms;
  }

  .min,
  .max,
  .tooltip {
    user-select: none;
    font-weight: 700;
    font-size: 0.8em;
  }

  .min {
    float: left;
    margin-top: -0.4em;
  }

  .max {
    float: right;
    margin-top: -0.4em;
  }
}
