@import "../variables";

.search-bar-container {
  width: calc(100% - #{$sidebar-width});
  position: relative;

  .search-bar {
    left: 0.5em;
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    width: calc(100% - 3em);

    @media (min-width: $SM) {
      left: 1em;
    }
  }

  .fa {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
  }

  input {
    background-color: transparent;
    border: 0;
    color: white;
    width: 100%;
    font-size: 1em;
    font-weight: 700;
    outline: 0;
    transition: border 300ms;
    border-bottom: 1px solid transparent;
    position: absolute;
    left: 1.2em;
    transform: translateY(-50%);
    top: 50%;
    border-radius: 0;

    &:focus {
      border: 0;
      // border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
      font-weight: 700;
    }

    @media (min-width: $SM) {
      left: 1.6em;
    }
  }
}
