@import "./variables";
@import "./fonts";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $color-primary;
  font-family: $font-family;
}

input {
  font-family: $font-family;

  &::placeholder {
    font-family: $font-family;
  }
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .main-content {
    display: flex;
    height: calc(100vh - #{$header-height});
    flex-direction: row;
  }
}
