@import "./variables";
@import "./fonts";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $color-primary;
  font-family: $font-family;
}

input {
  font-family: $font-family;

  &::placeholder {
    font-family: $font-family;
  }
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .main-content {
    display: flex;
    height: calc(100vh - #{$header-height});
    flex-direction: column;

    @media (min-width: $SM) {
      flex-direction: row;
    }
  }

  button.expand {
    position: fixed;
    top: calc(#{$sidebar-height} + #{$header-height});
    color: white;
    background-color: $color-primary-alt;
    border: 0;
    transform: translateX(-50%);
    left: 50%;
    z-index: 10;
    transition: top 500ms;
    transition-timing-function: ease-in-out;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    outline: 0;

    .fa {
      font-size: 1.2rem;
      position: relative;
      top: -0.1em;
    }
  }

  &.sidebar-expanded {
    .sidebar {
      height: 50vh;
    }
    .movie-list-container {
      height: 50vh;
    }
    button.expand {
      top: calc(50vh + #{$header-height} - 1.5rem);
    }
  }
}
