@import "variables";

.header {
  background-color: $color-secondary;
  color: #fff;
  height: $header-height;
  display: flex;
  flex-direction: row;
  margin-top: 0;

  .logo-container {
    text-align: center;
    box-sizing: border-box;
    width: $sidebar-width;
    position: relative;
    background-color: $color-secondary-alt;

    img {
      height: 1.3em;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
    }
  }
}
