@import "variables";

.movie-list-container {
  background-color: #232b31;
  overflow: auto;
  padding: 2em 0.25em 1em;
  height: calc(100vh - #{$header-height} - #{$sidebar-height});
  width: 100%;
  transition: height 500ms;
  transition-timing-function: ease-in-out;
  position: relative;

  @media (min-width: $SM) {
    height: 100%;
    width: calc(100% - #{$sidebar-width});
    padding: 1em 0.5em;
  }

  @media (min-width: $MD) {
    padding: 2em 0.5em;
  }

  & > .title {
    color: #fff;
    margin-top: 0;
    font-weight: 100;
    margin-left: 1rem;
    margin-bottom: 1em;
    letter-spacing: 1px;
  }

  .movie-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
