@import "variables";

.movie-list-container {
  background-color: #232b31;
  padding: 2em 2em;
  height: 100%;
  width: calc(100% - #{$sidebar-width});
  overflow: auto;

  & > .title {
    color: #fff;
    margin-top: 0;
    font-weight: 100;
    margin-left: 1rem;
    letter-spacing: 1px;
  }

  .movie-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
