@import "variables";

.rating-filter {
  display: flex;
  margin-top: 1em;
  display: block;
  margin-bottom: 2.5em;

  .label {
    width: 100%;
    display: block;
    margin-right: 0em;

    &::after {
      content: "Minimum rating";
    }
  }
}
