$color-primary: #232b31;
$color-primary-alt: #181c1f;
$color-secondary: #ff424f;
$color-secondary-alt: #f83744;

$color-accent-primary: #ffb108;
// $color-accent-primary-alt: #f83744;
$color-accent-secondary: #95bcd5;

$font-family: "Josefin Sans", sans-serif;

$sidebar-width: 10em;
$header-height: 2.5em;
