// fonts
$font-family: "Futura", sans-serif;

// screen breakpoints
$XS: 400px;
$SM: 600px;
$MD: 768px;
$LG: 1200px;
$XL: 1600px;

// colors
$color-primary: #232b31;
$color-primary-alt: #181c1f;
$color-secondary: #ff424f;
$color-secondary-alt: #f83744;
$color-accent-primary: #ffb108;
$color-accent-primary-alt: #f83744;
$color-accent-secondary: #95bcd5;

// element sizes
$sidebar-width: 10rem;
$sidebar-height: 7.5rem;
$header-height: 2.5rem;
